#shadow,
header {
  overflow: hidden;
}
#modal-menu,
.no-show {
  visibility: hidden;
}
.catalog-open-block,
.header-content,
.keep-in-touch,
footer .container,
nav a {
  box-sizing: border-box;
}
#logoLink,
.slide {
  background-repeat: no-repeat;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #fff;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-links-block {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-links-block h3 {
  font-weight: 400;
  font-size: 17px;
  color: #000;
}
.footer-logo {
  width: 92px;
  height: 82px;
}
.awards h3 {
  font-weight: 400;
  font-size: 19px;
  color: #000;
}
.award-block {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.award-block img {
  width: 46px;
  height: 46px;
}
@media screen and (max-width: 550px) {
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  .footer-links-block {
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 25px;
  }
  .footer-links-block h3 {
    margin-top: 10px;
    font-size: 23px;
  }
  .awards {
    margin-top: 40px;
  }
  .awards h3 {
    font-size: 25px;
    font-weight: 500;
  }
  footer {
    height: auto;
  }
}
.grill-bar {
  width: 100%;
  height: 750px;
}
.grill-bar .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grill-bar h2 {
  font-weight: 600;
  font-size: 30px;
  color: #5c5c5c;
  margin-top: 60px;
}
.dish h3,
.grill-bar p {
  font-size: 22px;
  color: #5c5c5c;
}
.grill-bar-headings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.grill-bar-headings div {
  border-bottom: 2px solid #168514;
}
.grill-bar p {
  font-weight: 300;
  margin-top: 35px;
  max-width: 70%;
}
.dishes {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}
.dish {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dish h3 {
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
.dish img {
  width: 100%;
  height: 200px;
}
.grill-bar button {
  width: 330px;
  height: 55px;
  background-color: #c3161b;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin: auto;
  transition: 0.2s;
}
.slick-next,
.slick-prev {
  top: 438px;
  z-index: 102;
  font-size: 0;
  position: absolute;
}
.grill-bar button:hover {
  background-color: #8a1519;
  transition: 0.2s;
}
@media screen and (max-width: 550px) {
  .grill-bar-headings h2 {
    padding-bottom: 15px;
  }
  .grill-bar p {
    max-width: 90%;
  }
  .grill-bar {
    height: auto;
    padding-bottom: 80px;
  }
  .dishes {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .dish,
  .grill-bar button {
    margin-top: 40px;
  }
  .dish {
    width: 70%;
  }
}
#logoLink {
  width: 113px;
  height: 100px;
  background-image: url(../img/logo.png);
  background-size: contain;
}
.slick-prev {
  left: 48px;
  background-color: rgba(175, 175, 175, 0.8);
  border: none;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  transition: 0.4s;
}
.slick-next:hover,
.slick-prev:hover {
  background-color: hsla(6, 82%, 68%, 0.829);
  transition: 0.4s;
}
.draggable,
.slick-initialized,
.slick-list,
.slick-slider,
.slick-track {
  height: 900px;
}
.header-slider {
  height: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
  width: 500%;
}
.slick-next {
  right: 48px;
  background-color: rgba(175, 175, 175, 0.8);
  border: none;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  transition: 0.4s;
}
.insta-btn,
.modal-btn,
nav {
  background-color: transparent;
}
.insta-btn,
.modal-btn {
  width: 55px;
  height: 55px;
  border: 0;
}
.insta-btn img,
.modal-btn img {
  width: 50px;
  height: 50px;
  transition: 0.1s;
}
.insta-btn img:hover,
.modal-btn img:hover {
  width: 55px;
  height: 55px;
  transition: 0.1s;
}
#nav-block,
header,
nav {
  width: 100%;
}
nav a {
  font-weight: 300;
  color: #fff;
  font-size: 27px;
  text-decoration: none;
  cursor: pointer;
}
#nav-block {
  height: 125px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 104;
}
.links-hover:hover {
  border-bottom: 3px solid #168514;
}
.links-hover {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  border-bottom: 3px solid transparent;
}
nav .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-content,
.slide {
  flex-direction: column;
  display: flex;
}
nav {
  height: 125px;
  z-index: 104;
}
header {
  height: 900px;
  min-width: 0;
}
.slide {
  background-size: cover;
  background-color: #a09e9e;
  width: calc(100% / 5);
}

#slide_el{
  background-image: url(../img/slide1-bg.jpg);
  transition:0.01s;
}
#slide2 {
  background-image: url(../img/slide2-bg.png);
}
#slide3 {
  background-image: url(../img/slide3-bg.png);
}
#slide4 {
  background-image: url(../img/slide4-bg.png);
}
.header-content {
  padding-bottom: 120px;
  justify-content: space-between;
  height: 100%;
  padding-top: 220px;
  min-width: 0;
}
.catalog-open-block {
  width: 50%;
  max-width: 480px;
  height: auto;
  background-color: #168514;
  padding: 30px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.main-heading {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}
.slider-dots {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 15%;
  top: 800px;
  z-index: 103;
}
.dot {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 30px;
}
.active-dot,
.catalog-open-btn {
  background-color: #168514;
}
.catalog-open-btn {
  width: 250px;
  height: 50px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  transition: 0.2s;
  margin-top: 30px;
}
.catalog-open-btn:hover {
  background-color: #10580e;
  border: 2px solid #8f8f8f;
  color: #8f8f8f;
  transition: 0.2s;
}
.main-p {
  font-size: 17px;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 1000px) {
  nav a {
    font-size: 22px;
  }
  .insta-btn img,
  .modal-btn img {
    width: 40px;
    height: 40px;
  }
  #logoLink {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 1300px) {
  .slider-dots {
    left: 7.5%;
  }
}
@media screen and (max-width: 550px) {
  header {
    height: 719px;
    box-sizing: border-box;
  }
  #nav-block {
    top: 610px;
    width: 100%;
    overflow-x: scroll;
  }
  nav {
    width: auto;
  }
  .header-content {
    padding-top: 80px;
  }
  .main-heading {
    font-size: 40px;
  }
  .catalog-open-block {
    width: 85%;
  }
  #logoLink,
  #slide2,
  #slide3,
  #slide4,
  #slide5,
  .insta-btn,
  .modal-btn {
    visibility: hidden;
  }
  .links-hover {
    margin-left: 20px;
  }
  #mobile-logo {
    width: 45px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 5%;
    z-index: 103;
  }
}
.keep-in-touch {
  width: 100%;
  height: 200px;
  background-color: #168514;
  padding-top: 20px;
  padding-bottom: 20px;
}
.keep-in-touch .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.keep-in-touch button {
  width: 330px;
  height: 70px;
  background-color: #c3161b;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.keep-in-touch button:hover {
  background-color: #8a1519;
  transition: 0.2s;
}
#modal-menu,
#modal-reviews {
  z-index: 110;
  position: fixed;
  background-color: #fff;
  top: 15%;
  box-sizing: border-box;
}
#modal-menu-close,
#modal-reviews-close {
  background-color: transparent;
  background-image: url(../img/close-modal-btn.png);
  border: 0;
  z-index: 103;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.keep-in-touch button img {
  margin-left: 20px;
}
.keep-in-touch p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  max-width: 30%;
}
.keep-in-touch a {
  font-weight: 700;
  font-size: 35px;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 550px) {
  .keep-in-touch {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .keep-in-touch p {
    margin-top: 30px;
    max-width: 90%;
  }
  .keep-in-touch a {
    margin-top: 30px;
  }
  .keep-in-touch .container {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
body,
html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
.container {
  width: 70%;
  height: 100%;
  margin: auto;
}
button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: 0;
}
textarea {
  resize: none;
}
div {
  z-index: 100;
}
.logo {
  width: 113px;
  height: 100px;
}
@media screen and (max-width: 1300px) {
  .container {
    width: 85%;
  }
}
@media screen and (max-width: 550px) {
  .container {
    width: 90%;
  }
}
#shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5210px;
  background-color: #000;
  opacity: 70%;
  z-index: 105;
}
#modal-menu {
  width: 65%;
  height: 65%;
  left: 17.5%;
  padding: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#modal-menu-close {
  top: 60px;
  left: calc(100% - 120px);
  width: 30px;
  height: 30px;
  transition: 0.1s;
}
#modal-menu-close:hover {
  width: 35px;
  height: 35px;
  transition: 0.1s;
  top: 57.5px;
  left: calc(100% - 122.5px);
}
.modal-menu-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 25%;
  text-align: center;
}
.small-insta-logo {
  width: 40px;
  height: 40px;
}
.modal-menu-left-text {
  font-weight: 500;
  font-size: 15px;
  color: #9c9c9c;
}
.modal-menu-numbers {
  font-weight: 400;
  font-size: 25px;
  color: #000;
  margin-top: 10px;
}
#modal-menu h4 {
  font-weight: 500;
  font-size: 20px;
  color: #c4161b;
}
.modal-menu-right {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.modal-menu-right-block {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-menu-right-block img {
  width: 40px;
  height: 40px;
  margin-top: 15px;
}
.modal-menu-content {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.modal-menu-right-links {
  font-weight: 300;
  font-size: 20px;
  color: #000;
}
.modal-menu-logo {
  width: 113px;
  height: 100px;
}
.modal-menu-right-first-links {
  margin-top: 100px;
}
#modal-reviews {
  width: 50%;
  height: 70%;
  left: 25%;
  padding-top: 60px;
  padding-bottom: 60px;
}
#modal-reviews .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#modal-reviews-close {
  top: 50px;
  left: calc(100% - 90px);
  width: 30px;
  height: 30px;
  transition: 0.1s;
}
#modal-reviews-close:hover {
  width: 35px;
  height: 35px;
  transition: 0.1s;
  top: 47.5px;
  left: calc(100% - 92.5px);
}
#modal-reviews h2 {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}
#modal-reviews form {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#modal-reviews h3 {
  font-weight: 400;
  font-size: 17px;
  color: #8e8c8c;
}
#modal-reviews p {
  font-weight: 300;
  font-size: 13px;
  color: #c4c4c4;
  width: 55%;
}
.big-input,
.small-input {
  background-color: #fff;
  font-weight: 300;
  color: #707070;
  box-sizing: border-box;
}
.input-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}
.small-input {
  width: 80%;
  height: 100%;
  border: 0.7px solid #c4c4c4;
  border-radius: 7px;
  font-size: 17px;
  padding-left: 20px;
}
.message-block {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-input {
  height: 70%;
  width: 100%;
  border: 0.7px solid #c4c4c4;
  border-radius: 7px;
  margin-top: 10px;
  font-size: 14px;
  padding: 20px;
}
.submit-block {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.submit-btn {
  width: 40%;
  height: 50px;
  background-color: #8e8c8c;
  border-radius: 7px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  transition: 0.2s;
  border: 0;
}
.submit-btn:hover {
  background-color: #4b4b4b;
  transition: 0.2s;
}
.product-features {
  height: 500px;
  width: 100%;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.product-features .container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.features-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.block-heading {
  font-weight: 600;
  font-size: 30px;
  color: #5c5c5c;
  text-align: center;
}
.sub-block-heading {
  font-weight: 500;
  font-size: 22px;
  color: #5c5c5c;
  text-align: center;
  margin-top: 30px;
}
.features-block img {
  width: auto;
  height: 80px;
}
.features-block h4 {
  color: #168514;
  font-size: 30px;
  font-weight: 500;
  padding-top: 40px;
  text-align: center;
}
.features-block p {
  font-size: 20px;
  color: #5c5c5c;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
}
.product-feature {
  width: 27%;
  height: 300px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .features-block {
    flex-direction: column;
    align-items: center;
  }
  .product-feature {
    margin-top: 60px;
    width: 100%;
  }
  .product-feature p {
    max-width: 80%;
  }
  .product-features {
    height: auto;
  }
  .sub-block-heading {
    font-weight: 400;
    margin-top: 50px;
  }
}
.production {
  height: 720px;
  width: 100%;
  background-color: #277092;
  background-image: url(../img/production-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.production h2 {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  height: 50px;
  padding-top: 60px;
  border-bottom: 2px solid #168514;
}
.production-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.production-features {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.production-feature h3,
.production-feature p {
  text-align: center;
  margin-top: 20px;
  color: #5c5c5c;
}
.production-feature {
  height: 480px;
  width: 30%;
  background-color: #fff;
}
.production-feature .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.production-feature img {
  width: 80px;
  height: 80px;
}
.production-feature h3 {
  font-weight: 500;
  font-size: 22px;
}
.production-feature p {
  font-weight: 300;
  font-size: 15px;
}
@media screen and (max-width: 550px) {
  .production-features {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .production {
    height: auto;
    padding-bottom: 80px;
  }
  .production-feature {
    width: 80%;
    margin-top: 60px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.reviews-headings {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.reviews-headings h2 {
  font-weight: 600;
  font-size: 30px;
  color: #5c5c5c;
  border-bottom: 2px solid #168514;
  height: 50px;
}
.reviews-headings button {
  width: 250px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #168514;
  font-size: 20px;
  color: #168514;
  font-weight: 400;
  transition: 0.2s;
}
.reviews-headings button:hover {
  background-color: #d3d3d3;
  transition: 0.2s;
}
.reviews {
  height: 500px;
  margin-top: 60px;
}
.review {
  width: 45%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #a7a7a7;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.person-info,
.review-content {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}
.person-info {
  width: 30%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.review-content {
  width: 69%;
  flex-direction: column;
}
.reviews-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}
.reviews-block hr {
  width: 2px;
  height: 80%;
  border: 0;
  color: #c4c4c4;
  background-color: #c4c4c4;
}
.shops h2,
.we-recommend-headings div {
  border-bottom: 2px solid #168514;
}
.person-info img {
  width: 55px;
  height: 55px;
}
.person-info h3 {
  font-weight: 700;
  font-size: 15px;
  color: #5c5c5c;
}
.person-info h4 {
  font-weight: 400;
  font-size: 15px;
  color: #5c5c5c;
}
.product h3,
.shops h2 {
  font-weight: 600;
  color: #5c5c5c;
}
.review-content img {
  width: 25px;
  height: 22px;
}
.review-content p {
  margin-top: 15px;
}
#reviews-left-arrow {
  position: relative;
  top: 250px;
  left: calc(15% - 100px);
}
#reviews-right-arrow {
  position: relative;
  top: 250px;
  left: calc(85% + 70px);
}
@media screen and (max-width: 550px) {
  .reviews {
    height: auto;
    padding-bottom: 80px;
  }
  .reviews-block {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .review {
    width: 80%;
    margin-top: 50px;
    flex-direction: column;
  }
  .person-info {
    height: 160px;
    justify-content: space-between;
  }
  .review-content img {
    height: 0;
    width: 0;
  }
  .review hr {
    height: 2px;
    width: 80%;
    background-color: #168514;
  }
  .review-content {
    width: 90%;
  }
  .reviews-headings {
    flex-direction: column;
    align-items: center;
  }
  .reviews-headings button {
    margin-top: 30px;
  }
}
.shops h2 {
  font-size: 30px;
  padding-bottom: 15px;
  padding-top: 60px;
}
.shops {
  height: 770px;
  width: 100%;
  background-color: #fff;
  background-image: url(../img/shops-bg.png);
  padding-bottom: 60px;
  background-repeat: repeat;
  background-size: contain;
}
.shops-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.map-block {
  width: 100%;
  margin: 50px auto auto;
}
@media screen and (max-width: 550px) {
  .shops-heading {
    flex-direction: co;
  }
  .shops {
    height: auto;
    padding-bottom: 80px;
  }
  .map-block {
    margin-top: 70px;
  }
}
.we-recommend {
  width: 100%;
  background-color: #5c5c5c;
  background-image: url(../img/we-recommend-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
  height: auto;
}
.we-recommend .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}
.product {
  display: flex;
  flex-direction: column;
  height: 290px;
  width: 330px;
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 40px;
}
.product-img,
.we-recommend-headings {
  width: 100%;
  height: auto;
}
.we-recommend-headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product h3 {
  font-size: 22px;
  padding-bottom: 15px;
}
.product h4 {
  font-weight: 400;
  font-size: 16px;
  color: #787676;
}
.we-recommend h2 {
  font-weight: 600;
  font-size: 30px;
  color: #5c5c5c;
  height: 50px;
}
.we-recommend-btn {
  width: 250px;
  height: 60px;
  background-color: #168514;
  border: 0;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  transition: 0.2s;
}
.we-recommend-btn:hover {
  background-color: #10580e;
  transition: 0.2s;
}
#we-recommend-left-arrow {
  position: absolute;
  top: 1820px;
  left: 80px;
}
#we-recommend-right-arrow {
  position: absolute;
  top: 1820px;
  left: calc(100% - 100px);
}
@media screen and (max-width: 550px) {
  .we-recommend-headings {
    flex-direction: column;
    align-items: center;
  }
  .we-recommend-btn {
    margin-top: 40px;
  }
  .product-slider {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .product {
    margin-top: 40px;
  }
  #we-recommend-desktop-btn {
    height: 0;
    visibility: hidden;
  }
  #we-recommend-mobile-btn {
    margin-top: 70px;
  }
}
@media screen and (min-width: 550px) {
  #mobile-logo {
    visibility: hidden;
    position: absolute;
  }
  #we-recommend-mobile-btn {
    visibility: hidden;
    height: 0;
  }
}
